/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.9rem;
}


/* 
select option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;
} */

.ngx-pagination {
    padding-inline-start: 0;
    font-size: 0.8em;
    margin-bottom: 0.6em;
}