/**, html {
    margin: auto;
    padding: 0;  
}*/

#wrapper {
	/*margin: auto;*/
	/*position:relative;*/
	text-align: center;
}

#header {
    width: 700px;
    /*margin: auto;*/
    display: inline-block;
}

#logo {
  height: 70px;
  vertical-align: middle;
  margin-bottom: 20px; 
}
h1 {
	font-size: 30px;
	display: inline-block;
  margin: 0;
}

form {
	display: inline-block;

}

form table {
  border-collapse: collapse;
}

form table, form td {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}


#from, #to{
  width: 50px;
}

.items {
  margin: auto;
  /*border: solid 1px;*/
  /*width: 500px;*/
  /*height: 200px;*/
  /*background-color: #f4f3f4;*/ /* gray */
  display: none;
}

#show_more, #show_less {
  margin: auto;
  display: none;
}

div.items table {
  /*width: 100%;
  height: : 100%;*/
  border: solid 1px;
  /*border: none;*/
  table-layout: fixed;
  margin: auto;

  background-color: #f4f3f4; /* gray */


  position: relative;
}

div.items tr {
  /*height: 25%;*/
}

div.items td {

/*  height: 45px;
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;*/
}

.wide_cell {
  display: block; /* for ellipsis */

  
  width: 450px;
  text-align: left;

  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.narrow_cell {
  width: 300px;

  /*padding-top: 10px;*/

}

.top_cell {
  margin-top: 30px;
}

.photo { 
  transition: all 0.35s ease-in-out; 
}
.photo:hover { 
  transform: scale(2); 
}

/*
.photo {
    transition: 0.3s;
}
.photo:hover {

    position:relative;
    top:-25px;
    left:-35px;
    width:150%;
    height:auto;
    display:block;
    z-index:999;

}*/
/*
a {

  cursor: pointer;


}*/
/*img {
cursor: pointer;
}*/

.redirect {
  height: 12px;
}

.topRated {
  height: 20px;
  vertical-align: top;
  /*max-height: 100%;*/
  /*display: block;*/
}

.shadow_button {
/*  padding-top: 5px;
  padding-bottom: 5px;*/
  background-color: gainsboro;
  /*border: 1px solid black*/
  color: black;
  border-radius: 2px;
  border: none;
  /*width: 60px;*/
  height: 30px;
  /*padding: 20px;*/
  text-align: center;
  /*text-decoration: none;*/
  /*display: inline-block;*/
  /*font-size: 16px;*/
  /*margin: 4px 2px;*/
}

.shadow_button:hover {
  background-color: #4da75e;
  color: white;
}

.close {
  font-size: 15px;
  /*color: blue;*/


  padding: 0;
  border: none;
  background: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

select {
    text-align-last:center;
    /*padding-right: 29px;*/
    /*direction: rtl;*/
/*
    text-align-last:-moz-center;
    text-align-last:-webkit-center;*/

  text-align-last: center; text-align: center;
  -webkit-text-align-last: center; -webkit-text-align: center;
  -ms-text-align-last: center; -ms-text-align: center;
  -moz-text-align-last: center; -moz-text-align: center;
  /*text-indent: 20px;*/
}

option {
  /*font-family: times;*/
}
/*td.item_picture {
  width: 30%;
}*/

/* 
# TODO 

autocomplete in chrome: https://stackoverflow.com/questions/15462991/trigger-autocomplete-without-submitting-a-form;
options text in safari
 
*/
