/**, html {
    margin: auto;
    padding: 0;  
}*/

#wrapper {
	/*margin: auto;*/
	/*position:relative;*/
	text-align: center;
}

#header {
    width: 700px;
    /*margin: auto;*/
    display: inline-block;
}

h1 {
	font-size: 60px;
	display: inline-block;
}

form {
	display: inline-block;

}

form table {
  border-collapse: collapse;
}

form table, form td {
  border: 1px solid black;
}

.items {
  margin: auto;
  border: solid 1px;
  width: 300px;
  height: 100px;
  background-color: #f4f3f4;
  display: none;
}

#show_more, #show_less {
  margin: auto;
  display: none;
}

div.items table {
  width: 100%;
  height: : 100%;
  border: none;
}

/*td.item_picture {
  width: 30%;
}*/
