<router-outlet></router-outlet>

<div class="container">
    <div class="text-center">
        <a href="https://ebay.com"><img id='logo' src="assets/eBayLogo.png"></a>
        <a href="https://ebay.com"><img id='logo' src="assets/ebay_default.png"></a>
    </div>

    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="onSubmit()" #myform="ngForm">


        <div class="form-group row" [ngClass]="{ 'has-error': invalidKeyword() }">
            <label class="col-sm-2 col-form-label">Key words<span style="color:red">*</span></label>
            <div class="col-sm-10">
                <input name="keyword" id="keyword" type="text" class="form-control" formControlName="keyword">
            </div>


        </div>

        <div class="form-group row" formGroupName="range" [ngClass]="{ 'has-error': invalidRange() }">
            <label class="col-sm-2 col-form-label">Price range</label>
            <div class="col-sm-5">
                <input type="number" name="from" id="from" class="form-control" formControlName="from">
            </div>
            <div class="col-sm-5">
                <input type="number" name="to" id="to" class="form-control" formControlName="to">
            </div>



        </div>


        <div class="form-group row" formGroupName="condition">
            <label class="col-sm-2 col-form-label">Condition</label>
            <div class=col-sm-10>
                <div class="form-check form-check-inline">

                    <input class="form-check-input" type="checkbox" name="new" id="new" value="1000" formControlName="new">
                    <label class="form-check-label" for="new">New</label>

                    <input class="form-check-input" type="checkbox" name="used" id="used" value="3000" formControlName="used">
                    <label class="form-check-label" for="used">Used</label>


                    <input class="form-check-input" type="checkbox" name="vgood" id="vgood" value="4000" formControlName="vgood">
                    <label class="form-check-label" for="vgood">Very Good</label>
                    <input class="form-check-input" type="checkbox" name="good" id="good" value="5000" formControlName="good">
                    <label class="form-check-label" for="good">Good</label>
                    <input class="form-check-input" type="checkbox" name="acceptable" id="acceptable" value="6000" formControlName="acceptable">
                    <label class="form-check-label" for="acceptable">Acceptable</label>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Seller</label>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="returns" id="returns" value="true" formControlName="returns">
                    <label class="form-check-label" for="returns">Return Accepted</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Shipping</label>
            <div class="col-sm-10">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="freeshipping" id="freeshipping" value="true" formControlName="freeshipping">
                    <label class="form-check-label" for="freeshipping">Free</label>
                    <input class="form-check-input" type="checkbox" name="expshipping" id="expshipping" value="Expedited" formControlName="expshipping">
                    <label class="form-check-label" for="expshipping">Expedited</label>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Select list:</label>
            <div class="col-sm-10">
                <select class="form-control" name="sort" id="sort" formControlName="sort">
          <option value="BestMatch" selected>BestMatch</option>
          <option value="CurrentPriceHighest">CurrentPriceHighest</option>
          <option value="PricePlusShippingHighest">PricePlusShippingHighest</option>
          <option value="PricePlusShippingLowest">PricePlusShippingLowest</option>
        </select>
            </div>
        </div>

        <div class="text-right">
            <input type="submit" class="btn btn-primary" value="Search">
            <input type="button" class="btn btn-secondary" value="Clear" (click)="reset_form();">
        </div>


    </form>


    <div class="alert alert-warning" id="keyword_error" *ngIf="invalidKeyword()">
        Please enter a keyword
    </div>


    <div class="alert alert-warning" id="range_error" *ngIf="invalidRange()">
        Please use appropriate values for minPrice/maxPrice
    </div>


    <div class="alert alert-warning" id="no_result" *ngIf="got_search_result_flag && no_result_flag">
        No exact matches found
    </div>





    <div *ngIf="got_search_result_flag && !no_result_flag">
        <h3>Results for {{kw}}</h3>
        <div class="item" *ngFor="let item of searchResult">
            <!-- <mat-card> -->

            <!-- <mat-card-title>TITLE</mat-card-title>
            <mat-card-content>CONTNET</mat-card-content>
            <mat-card-actions>
                <button mat-flat-button>Login</button>
            </mat-card-actions> -->
            <!-- </mat-card> -->
            <div class="row">
                <div class="col-sm-3"><img id="photo" src="{{item.galleryURL}}"></div>
                <div class="col-sm-9">
                    <a href="{{item.viewItemURL}}">
                        <p class="title"> {{item.title}}</p>
                    </a>
                    <p class="price"><b>Price: </b>{{item.price}}</p>
                    <p class="location"><i>{{item.location}}</i></p>
                    <button mat-flat-button>foo</button>
                </div>
            </div>



            <mat-tab-group>
                <mat-tab label="One">
                    <h1>Some tab content</h1>
                    <p>...</p>
                </mat-tab>
                <mat-tab label="Two">
                    <h1>Some more tab content</h1>
                    <p>...</p>
                </mat-tab>
            </mat-tab-group>

        </div>

    </div>




    <div *ngIf="got_search_result_flag && !no_result_flag">
        <h3>Results for {{kw}}</h3>
        <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="currPage = $event">

        </pagination-controls>

        <table class="table table-striped">

            <tr *ngFor="let item of searchResult | paginate:{
              id: 'listing_pagination',
              itemsPerPage: 5,
              currentPage: currPage,
              totalItems: returnedResults
          }">

                <td>
                    {{item.title}}
                </td>
                <td>
                    {{item.price}}
                </td>
                <td>
                    <img src="{{item.galleryURL}}">

                </td>

            </tr>

        </table>
    </div>
</div>