<router-outlet></router-outlet>

<div class="container">
    <div class="text-center">
        <a href="https://ebay.com" target="_blank"><img id='logo' src="assets/eBayLogo.png"></a>
        <!-- <a href="https://ebay.com"><img id='logo' src="assets/ebay_default.png"></a> -->
    </div>

    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="onSubmit()" #myform="ngForm">


        <div class="form-group row" [ngClass]="{ 'has-error': invalidKeyword() }">
            <label class="col-sm-2 col-form-label">Key words<span style="color:red">*</span></label>
            <div class="col-sm-10">
                <input name="keyword" id="keyword" type="text" class="form-control" formControlName="keyword" placeholder="Enter keywords">
            </div>


        </div>

        <div class="form-group row" formGroupName="range" [ngClass]="{ 'has-error': invalidRange() }">
            <label class="col-sm-2 col-form-label">Price range</label>
            <div class="col-sm-5 col-6">
                <input type="text" name="from" id="from" class="form-control" formControlName="from" placeholder="Min Price">
            </div>
            <div class="col-sm-5 col-6">
                <input type="text" name="to" id="to" class="form-control" formControlName="to" placeholder="Max Price">
            </div>



        </div>


        <div class="form-group row" formGroupName="condition">
            <label class="col-sm-2 col-form-label">Condition</label>
            <div class=col-sm-10>
                <div class="form-check form-check-inline">

                    <input class="form-check-input" type="checkbox" name="new" id="new" value="1000" formControlName="new">
                    <label class="form-check-label" for="new">New</label>

                    <input class="form-check-input" type="checkbox" name="used" id="used" value="3000" formControlName="used">
                    <label class="form-check-label" for="used">Used</label>


                    <input class="form-check-input" type="checkbox" name="vgood" id="vgood" value="4000" formControlName="vgood">
                    <label class="form-check-label" for="vgood">Very Good</label>
                    <input class="form-check-input" type="checkbox" name="good" id="good" value="5000" formControlName="good">
                    <label class="form-check-label" for="good">Good</label>
                    <input class="form-check-input" type="checkbox" name="acceptable" id="acceptable" value="6000" formControlName="acceptable">
                    <label class="form-check-label" for="acceptable" style="margin-right: 0;">Acceptable</label>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Seller</label>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="returns" id="returns" value="true" formControlName="returns">
                    <label class="form-check-label" for="returns">Return Accepted</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Shipping</label>
            <div class="col-sm-10">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="freeshipping" id="freeshipping" value="true" formControlName="freeshipping">
                    <label class="form-check-label" for="freeshipping">Free</label>
                    <input class="form-check-input" type="checkbox" name="expshipping" id="expshipping" value="Expedited" formControlName="expshipping">
                    <label class="form-check-label" for="expshipping">Expedited</label>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Sort Order</label>
            <div class="col-sm-10">
                <select class="form-control custom-select" name="sort" id="sort" formControlName="sort">
                    <option value="BestMatch" selected>BestMatch</option>
                    <option value="CurrentPriceHighest">CurrentPriceHighest</option>
                    <option value="PricePlusShippingHighest">PricePlusShippingHighest</option>
                    <option value="PricePlusShippingLowest">PricePlusShippingLowest</option>
                </select>
            </div>
        </div>

        <div class="text-right" style="margin-bottom: 50px;">
            <button type="submit" class="btn btn-primary"><span class="material-icons">search</span>Search</button>
            <button type="button" class="btn btn-secondary" (click)="reset_form();"><span class="material-icons">clear_all</span><span class="hover-black">Clear</span></button>
            <!-- <input type="submit" class="btn btn-primary" value="Search"> -->
            <!-- <input type="button" class="btn btn-secondary" value="Clear" (click)="reset_form();"> -->
        </div>


    </form>


    <div class="alert yellow-warning text-center" id="keyword_error" *ngIf="invalidKeyword()">
        Please enter a keyword
    </div>


    <div class="alert yellow-warning text-center" id="range_error" *ngIf="invalidRange()">
        Please use appropriate values for minPrice/maxPrice
    </div>


    <div class="alert yellow-warning text-center" id="no_result" *ngIf="got_search_result_flag && (this.returnedResults == 0)">
        No exact matches found
    </div>






    <div *ngIf="got_search_result_flag && !(this.returnedResults == 0)">

        <div class="row">
            <h3 class="col-sm-4">Results for {{kw}}</h3>
            <div class="col-sm-8">
                <div class="text-center">
                    <pagination-controls [maxSize]="paginationSize" id="listing_pagination" directionLinks="true" (pageChange)="currPage = $event">
                    </pagination-controls>
                    <!-- <pagination-controls maxSize="5" id="listing_pagination" directionLinks="true" (pageChange)="currPage = $event"> -->
                    <!-- </pagination-controls> -->
                </div>
            </div>



        </div>
        <!-- 
        <div class="item card flex-row flex-wrap" *ngFor="let item of searchResult | paginate:{
            id: 'listing_pagination',
            itemsPerPage: 5,
            currentPage: currPage,
            totalItems: returnedResults
        }; index as i">
            <div class="card-header border-0 text-center">
                <img src="//placehold.it/200" alt="">
            </div>
            <div class="card-block px-2">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Description</p>
                <a href="#" class="btn btn-primary">BUTTON</a>
            </div>
            <div class="w-100"></div>


        </div>


        <div class="item card">
            <div class="row no-gutters">
                <div class="col-auto">
                    <img src="//placehold.it/200" class="img-fluid" alt="">
                </div>
                <div class="col">
                    <div class="card-block px-2">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Description</p>
                        <a href="#" class="btn btn-primary">BUTTON</a>
                    </div>
                </div>
            </div>
            <div class="card-footer w-100 text-muted">
                Footer stating cats are CUTE little animals
            </div>
        </div> -->

        <div class="card" *ngFor="let item of searchResult | paginate:{
            id: 'listing_pagination',
            itemsPerPage: 5,
            currentPage: currPage,
            totalItems: returnedResults
        }; index as i">
            <div class="row mx-0">
                <div class="col-sm-2 text-center px-3 pt-3"><img class="img-fluid photo" src="{{item.galleryURL}}"></div>

                <div class="col-sm-10 px-3 px-sm-0">
                    <a href="{{item.viewItemURL}}" target="_blank">
                        <p class="title pt-3"> {{item.title}}</p>
                    </a>
                    <p class="price"><b>Price: </b>${{item.price}}</p>
                    <span class="location"><i>{{item.location}}</i></span> ¸
                    <!-- <button class="btn white-back" *ngIf="item.showing_detail == false" (click)="item.showing_detail = true">Show Details</button>
                    <button class="btn white-back" *ngIf="item.showing_detail == true" (click)="item.showing_detail = false">Hide Details</button> -->

                    <button class="btn white-back" (click)="item.showing_detail = !item.showing_detail;item.buttonText = (item.showing_detail) ? 'Hide Details' : 'Show Details'; ">{{item.buttonText}}</button>

                    <mat-tab-group *ngIf="item.showing_detail == true">
                        <mat-tab label="Basic Info">
                            <table class="table">
                                <tr>
                                    <th>Category Name</th>
                                    <td>{{item.category}}</td>
                                </tr>
                                <tr>
                                    <th>Condition</th>
                                    <td>{{item.condition}}</td>
                                </tr>
                            </table>
                            <!-- <div class="row item-detail">
                                <div class="col-5 col-sm-3"><b>Category Name</b></div>
                                <div class="">{{item.category}}</div>
                            </div>
                            <div class="row item-detail">
                                <div class="col-5 col-sm-3"><b>Condition</b></div>
                                <div class="">{{item.condition}}</div>
                            </div> -->

                        </mat-tab>
                        <mat-tab label="Shipping Info">
                            <table class="table">
                                <tr>
                                    <th>ShippingType</th>
                                    <td>{{item.shippingType}}</td>
                                </tr>
                                <tr>
                                    <th>Shipping cost</th>
                                    <td>{{item.shippingServiceCost}}</td>
                                </tr>
                                <tr>
                                    <th>Shiptolocations</th>
                                    <td>{{item.shipToLocations}}</td>
                                </tr>
                                <tr>
                                    <th>ExpeditedShipping</th>
                                    <td>

                                        <!-- <div *ngIf="item.expeditedShipping=='true' ">
                                            <span class="material-icons " style="color:green; " >done</span>
                                        </div>
                                        <div *ngIf="item.expeditedShipping !='true' ">
                                            <span class="material-icons " style="color:red; ">clear</span>
                                        </div> -->

                                        <!-- <div *ngIf="item.expeditedShipping=='true'"> -->
                                        <span class="material-icons " style="color:green;" *ngIf="item.expeditedShipping=='true'">done</span>
                                        <!-- </div> -->
                                        <!-- <div *ngIf="item.expeditedShipping !='true'"> -->
                                        <span class="material-icons " style="color:red;" *ngIf="item.expeditedShipping !='true'">clear</span>
                                        <!-- </div> -->



                                    </td>
                                </tr>
                                <tr>
                                    <th>OneDayShippingAvailable</th>
                                    <td>

                                        <span class="material-icons " style="color:green;" *ngIf="item.oneDayShippingAvailable=='true'">done</span>
                                        <span class="material-icons " style="color:red;" *ngIf="item.oneDayShippingAvailable !='true'">clear</span>

                                    </td>
                                </tr>
                            </table>
                            <!-- <div class="row item-detail">
                                <div class="col-7 col-sm-3"><b>ShippingType</b></div>
                                <div class="">{{item.shippingType}}</div>
                            </div>
                            <div class="row item-detail">
                                <div class="col-7 col-sm-3"><b>Shipping cost</b></div>
                                <div class="">{{item.shippingServiceCost}}</div>
                            </div>

                            <div class="row item-detail">
                                <div class="col-7 col-sm-3"><b>Shiptolocations</b></div>
                                <div class=" ">{{item.shipToLocations}}</div>
                            </div>
                            <div class="row item-detail">
                                <div class="col-7 col-sm-3"><b>ExpeditedShipping</b></div>
                                <div class=" " *ngIf="item.expeditedShipping=='true' ">
                                    <span class="material-icons " style="color:green; ">done</span>
                                </div>
                                <div class=" " *ngIf="item.expeditedShipping !='true' ">
                                    <span class="material-icons " style="color:red; ">clear</span>
                                </div>

                            </div>

                            <div class="row item-detail">
                                <div class="col-7 col-sm-3"><b>OneDayShippingAvailable</b></div>
                                <div class=" " *ngIf="item.oneDayShippingAvailable=='true' ">
                                    <span class="material-icons " style="color:green; ">done</span>
                                </div>
                                <div class=" " *ngIf="item.oneDayShippingAvailable !='true' ">
                                    <span class="material-icons " style="color:red; ">clear</span>
                                </div>


                            </div> -->

                        </mat-tab>
                        <mat-tab label="Listing Info ">
                            <table class="table">
                                <tr>
                                    <th>BestOfferEnabled</th>
                                    <td>
                                        <span class="material-icons " style="color:green;" *ngIf="item.bestOfferEnabled=='true'">done</span>
                                        <span class="material-icons " style="color:red;" *ngIf="item.bestOfferEnabled !='true'">clear</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>BuyItNowAvailable</th>
                                    <td>
                                        <span class="material-icons " style="color:green;" *ngIf="item.buyItNowAvailable=='true'">done</span>
                                        <span class="material-icons " style="color:red;" *ngIf="item.buyItNowAvailable !='true'">clear</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>ListingType</th>
                                    <td>{{item.listingType}}</td>
                                </tr>
                                <tr>
                                    <th>Gift</th>
                                    <td>
                                        <span class="material-icons " style="color:green;" *ngIf="item.gift=='true'">done</span>
                                        <span class="material-icons " style="color:red;" *ngIf="item.gift !='true'">clear</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>WatchCount</th>
                                    <td>{{item.watchCount}}</td>
                                </tr>

                            </table>

                            <!-- 
                            <div class="row item-detail">
                                <div class="col-7 col-sm-3"><b>BestOfferEnabled</b></div>
                                <div class="" *ngIf="item.bestOfferEnabled=='true' ">
                                    <span class="material-icons " style="color:green; ">done</span>
                                </div>
                                <div class="" *ngIf="item.bestOfferEnabled !='true' ">
                                    <span class="material-icons " style="color:red; ">clear</span>
                                </div>

                            </div>
                            <div class="row item-detail">
                                <div class="col-7 col-sm-3"><b>BuyItNowAvailable</b></div>
                                <div class="" *ngIf="item.buyItNowAvailable=='true' ">
                                    <span class="material-icons " style="color:green; ">done</span>
                                </div>
                                <div class="" *ngIf="item.buyItNowAvailable !='true' ">
                                    <span class="material-icons " style="color:red; ">clear</span>
                                </div>

                            </div>


                            <div class="row item-detail">
                                <div class="col-7 col-sm-3"><b>ListingType</b></div>
                                <div class="">{{item.listingType}}</div>
                            </div>




                            <div class="row item-detail">
                                <div class="col-7 col-sm-3"><b>Gift</b></div>
                                <div class="" *ngIf="item.gift=='true' ">
                                    <span class="material-icons " style="color:green; ">done</span>
                                </div>
                                <div class="" *ngIf="item.gift !='true' ">
                                    <span class="material-icons " style="color:red; ">clear</span>
                                </div>

                            </div>


                            <div class="row item-detail">
                                <div class="col-7 col-sm-3"><b>WatchCount</b></div>
                                <div class="">{{item.watchCount}}</div>
                            </div> -->
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>