/* @media (min-width: 568px) {
    .container {
        width: 550px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
} */

h1 {
    color: red;
}

#logo {
    max-height: 100px;
    margin-top: 20px;
}

label.form-check-label {
    /* font-weight: 700; */
    margin-right: 0.5em;
}

label.col-form-label {
    /* text-align: left; */
    /* font-weight: 700; */
    padding-bottom: 0;
}


/* 
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
 */


/* 
.mat-card {
    background-color: #dddddd;
    box-shadow: none;
    border-radius: 0;
} */

h3 {
    font-size: 20px;
}

.yellow-warning {
    color: black;
    background-color: #fffac8;
    border: none;
    font-weight: 500;
}

.inline {
    display: inline;
}


/* 
.photo {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
} */

.title {
    font-size: 18px;
}

.price {
    margin-bottom: 0;
}

.location {
    margin-right: 1em;
}

.material-icons {
    vertical-align: top;
}

.btn-primary {
    background-color: #087abc;
    border-color: #087abc;
    margin-right: 5px;
}

.card {
    background-color: #dddddd;
    /* !important; */
    margin-bottom: 10px;
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding-bottom: 1em;
}


/* 
.card-header {
    background-color: #dddddd !important;
}
 */


/* 
.card>* {
    border-radius: 0;
    background-color: #dddddd;
 
} */

div.item-detail {
    min-height: 2em;
}

b,
label.col-form-label,
label.form-check-label,
th {
    font-weight: 500;
}

.white-back {
    background-color: white;
}

.mat-tab-body-content {
    overflow: hidden;
}

.form-control {
    font-size: inherit;
}

.form-check-inline {
    margin-right: 0;
}


/* 
h3 {
    font-weight: 500;
} */

th {
    /* width: 1%;
    white-space: nowrap; */
    /* max-width: 100%;
    white-space: nowrap; */
}

td {
    /* white-space: normal !important;
    word-wrap: break-word; */
}

table {
    /* table-layout: fixed; */
}

table.table-fit {
    /* width: auto !important; */
    /* table-layout: auto !important; */
}


/* 
table.table-fit td {
    width: auto !important;
} */

td {
    white-space: normal;
    word-break: break-all;
}

table {
    /* table-layout: fixed; */
    width: 100%;
}

table,
tr,
th,
td {
    border: none;
}

th {
    width: 1%;
    white-space: nowrap;
}