/* @media (min-width: 568px) {
    .container {
        width: 550px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
} */

h1 {
    color: red;
}

#logo {
    height: 100px;
    margin-top: 20px;
}

label.form-check-label {
    font-weight: bold;
    margin-right: 5px;
}

label.col-form-label {
    /* text-align: left; */
    font-weight: 700;
    padding-bottom: 0;
}


/* 
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
 */


/* 
.mat-card {
    background-color: #dddddd;
    box-shadow: none;
    border-radius: 0;
} */

h3 {
    font-size: 20px;
}

.yellow-warning {
    color: black;
    background-color: #fffac8;
    border: none;
}

.inline {
    display: inline;
}


/* 
.photo {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
} */

.title {
    font-size: 18px;
}

.location {
    margin-right: 5px;
}

.material-icons {
    vertical-align: top;
}

.btn-primary {
    background-color: #087abc;
    border-color: #087abc;
    margin-right: 5px;
}

.card {
    background-color: #dddddd;
    /* !important; */
    margin-bottom: 10px;
    box-shadow: none;
    border-radius: 0;
    border: none;
}


/* 
.card-header {
    background-color: #dddddd !important;
}
 */

.card>* {
    border-radius: 0;
    background-color: #dddddd;
    /* !important; */
}

div.item-detail {
    min-height: 2em;
}

b {
    font-weight: 700;
}

.white-back {
    background-color: white;
}