/* @media (min-width: 568px) {
    .container {
        width: 550px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
} */

h1 {
    color: red;
}

#logo {
    height: 100px;
    margin-top: 20px;
}

label.form-check-label {
    font-weight: bold;
    margin-right: 5px;
}

label.col-form-label {
    /* text-align: left; */
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


/* 
.mat-card {
    background-color: #dddddd;
    box-shadow: none;
    border-radius: 0;
} */

div.item {
    background-color: #dddddd;
}

div.item-detail {
    height: 30px;
}