<!-- <h1>{{title}}</h1> -->
<!-- <courses></courses> -->
<!-- 
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Hello World!</h1>
    </div>
  </div>
</div> -->


<div class="container" id="wrapper">
    <div class="text_center">
        <a href="https://ebay.com"><img id='logo' src="assets/eBayLogo.png"></a>
    </div>
    <div class="text_left">
        <search-form></search-form>
    </div>


    <!-- <items></items> -->
</div>
<router-outlet></router-outlet>