<legend>Main Search Form!!!</legend>
<form class="search_form form-horizontal" [formGroup]="mainForm" (ngSubmit)="onSubmit()" #myform="ngForm">


    <div class="form-group row" [ngClass]="{ 'has-error': invalidKeyword() }">
        <label class="col-sm-2 col-form-label">Key words<span style="color:red">*</span></label>
        <div class="col-sm-10">
            <input name="keyword" id="keyword" type="text" class="form-control" formControlName="keyword">
        </div>

        <div class="alert alert-warning" id="keyword_error" *ngIf="invalidKeyword()">
            Please enter a keyword
        </div>

    </div>

    <div class="form-group row" formGroupName="range" [ngClass]="{ 'has-error': invalidRange() }">
        <label class="col-sm-2 col-form-label">Price range</label>
        <div class="col-sm-5">
            <input type="number" name="from" id="from" class="form-control" formControlName="from">
        </div>
        <div class="col-sm-5">
            <input type="number" name="to" id="to" class="form-control" formControlName="to">
        </div>


        <div class="alert alert-warning" id="range_error" *ngIf="invalidRange()">
            Please use appropriate values for minPrice/maxPrice
        </div>

    </div>


    <div class="form-group row" formGroupName="condition">
        <label class="col-sm-2 col-form-label">Condition</label>
        <div class=col-sm-10>
            <div class="form-check form-check-inline">

                <input class="form-check-input" type="checkbox" name="new" id="new" value="1000" formControlName="new">
                <label class="form-check-label" for="new">New</label>

                <input class="form-check-input" type="checkbox" name="used" id="used" value="3000" formControlName="used">
                <label class="form-check-label" for="used">Used</label>


                <input class="form-check-input" type="checkbox" name="vgood" id="vgood" value="4000" formControlName="vgood">
                <label class="form-check-label" for="vgood">Very Good</label>
                <input class="form-check-input" type="checkbox" name="good" id="good" value="5000" formControlName="good">
                <label class="form-check-label" for="good">Good</label>
                <input class="form-check-input" type="checkbox" name="acceptable" id="acceptable" value="6000" formControlName="acceptable">
                <label class="form-check-label" for="acceptable">Acceptable</label>
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Seller</label>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="returns" id="returns" value="true" formControlName="returns">
                <label class="form-check-label" for="returns">Return Accepted</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Shipping</label>
        <div class="col-sm-10">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="freeshipping" id="freeshipping" value="true" formControlName="freeshipping">
                <label class="form-check-label" for="freeshipping">Free</label>
                <input class="form-check-input" type="checkbox" name="expshipping" id="expshipping" value="Expedited" formControlName="expshipping">
                <label class="form-check-label" for="expshipping">Expedited</label>
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Select list:</label>
        <div class="col-sm-10">
            <select class="form-control" name="sort" id="sort" formControlName="sort">
        <option value="BestMatch" selected>BestMatch</option>
        <option value="CurrentPriceHighest">CurrentPriceHighest</option>
        <option value="PricePlusShippingHighest">PricePlusShippingHighest</option>
        <option value="PricePlusShippingLowest">PricePlusShippingLowest</option>
      </select>
        </div>
    </div>


    <input type="reset" class="btn btn-secondary float-right" value="Clear" onclick="reset_form();">
    <input type="submit" class="btn btn-primary float-right" value="Search">

</form>