<form>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="keyword">Key words<span style="color:red">*</span></label>
    <div class="col-sm-10"><input required ngModel name="keyword" id="keyword" type="text" class="form-control"
        #keyword="ngModel" (change)="log(keyword)">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="from">Price range</label>
    <div class="col-sm-5">
      <input type="number" id="from" class="form-control">
    </div>
    <div class="col-sm-5">
      <input type="number" id="to" class="form-control">
    </div>
  </div>


  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="new">Condition</label>
    <div class="col-sm-10 form-check">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="new" value="1000">
        <label class="form-check-label col-md-1" for="new">New</label>
        <input class="form-check-input" type="checkbox" id="used" value="3000">
        <label class="form-check-label col-md-1" for="used">Used</label>
        <input class="form-check-input" type="checkbox" id="vgood" value="4000">
        <label class="form-check-label col-md-2" for="vgood">Very Good</label>
        <input class="form-check-input" type="checkbox" id="good" value="5000">
        <label class="form-check-label col-md-1" for="good">Good</label>
        <input class="form-check-input" type="checkbox" id="acceptable" value="6000">
        <label class="form-check-label col-md-1" for="acceptable">Acceptable</label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">Seller</div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="returns" value="true">
        <label class="form-check-label col-md-2" for="returns">Return Accepted</label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">Shipping</div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="returns" value="true">
        <label class="form-check-label col-md-2" for="returns">Free</label>
        <input class="form-check-input" type="checkbox" id="returns" value="true">
        <label class="form-check-label col-md-2" for="returns">Expedited</label>
      </div>
    </div>
  </div>


  <div class="form-group" row>
    <label class="col-sm-2" for="sort">Select list:</label>
    <div class="col-sm-10">
      <select class="form-control" name="sort" id="sort">
        <option value="BestMatch" selected>Best Match</option>
        <option value="CurrentPriceHighest">Price: highest first</option>
        <option value="PricePlusShippingHighest">Price + Shipping: highest first</option>
        <option value="PricePlusShippingLowest">Price + Shipping: lowest first</option>
      </select>
    </div>
  </div>


  <input type="submit" class="btn btn-primary" value="Search">
  <input type="reset" class="btn btn-secondary" value="Clear">

  <div class="alert alert-warning" *ngIf="keyword.touched && !keyword.valid">Please enter a keyword</div>
  <div class="alert alert-warning" *ngIf="">Please use appropriate values for minPrice/maxPrice</div>

</form>
